@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

.sp_only {
    display: none;
}

.introduce .title {
    width: 488px;
}

.intro_cont {
    width: 75%;
    margin: auto;
    margin-top: 80px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
}

.video {
    width: 400px;
    height: auto;
    margin: auto;
    margin-bottom: 40px;
}

.sentense {
    margin: auto;
    font-size: 16px;
    padding-bottom: 30px;
}

.sentense p {
    margin-bottom: 20px;
}

@media screen and (min-width: 769px) {

    .title3 {
        display: inline-block;
        width: 12px;
    }
}


@media screen and (min-width: 768px) and (max-width:768px) {

    .introduce .title {
        width: 468px;
    }

    .title3 {
        display: inline-block;
        width: 12px;
    }

    .intro_cont {
        margin-top: 40px;
        padding-bottom: 60px;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {

    .sp_only {
        display: block;
    }

    .introduce .title {
        width: 254px;
        font-size: 26px;
        text-align: center;
    }

    .intro_cont {
        margin-top: 0px;
        padding-bottom: 60px;
        grid-template-columns: 1fr;
    }

    .video {
        width: 100%;
        height: 370px;
        margin-bottom: 0;
    }
}

