@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Noto+Sans+JP', sans-serif;
    font-weight: normal;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

p {
    margin: 0px;
}

.contents {
    width: 100%;
    height: auto;
    margin: auto;
}

header {
    width: 100%;
    margin: auto;
}

.menu {
    text-align: right;
    margin-right: 30px;
}

.menu li {
    display: inline;
    padding: 16px;
}

.menu a {
    text-decoration: none;
    color: #807B7A;
}

.menu a:hover {
    color: #C5AEAE;
}

.title {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.sub_title {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.main {
    width: 100%;
    height: auto;
}

.top_img {
    width: 100%;
    height: 690px;
    background-image: url("../images/top.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main .top_img .title {
    position: relative;
    color: #ffffff;
}

.main .top_img .sub_title {
    position: relative;
    color: #ffffff;
}

.introduce {
    width: 100%;
    height: auto;
    background: #C5AEAE;
    color: #ffffff;
}

.introduce .title {
    font-size: 28px;
}

.prof_image {
    width: 140px;
    height: auto;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 40px;
}

.prof_sentense {
    width: 420px;
    height: auto;
    margin: auto;
    padding-bottom: 70px;
    font-size: 16px;
}

.prof_sentense p {
    margin-bottom: 15px;
}

.work {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    background: #ffffff;
    color: #807B7A;
    /* color: #ffffff; */
}

.work .title {
    font-size: 28px;
}

.work_cont {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
}

.cont {
    margin: auto;
    text-align: center;
    background: #ffffff;
}

.cont img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    border: 1px solid #cacaca;
}

.work_sent {
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
}

.button {
    margin-top: 26px;
    padding: 6px 14px 6px 14px;
    display: inline-block;
    border: 1.2px solid #807B7A;
    text-decoration: none;
    font-size: 12px;
    color: #807B7A;
}

.button:hover {
    background: rgba(184, 95, 77, 0.5);
    color: #ffffff;
}

.scrollTop {
    position: fixed;
    right: 20px;
    bottom: 30px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    text-decoration: none;
    font-size: 29px;
    text-align: center;
}

.scrollTop a {
    padding: 20px;
    display: block;
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #a591a2a6;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.scrollTop a:hover {
    background: #dcc1d8cf;
    color: #a591a2a6;
}



footer {
    width: 100%;
    padding: 10px 0px 10px 0px;
    background-color: #807B7A;
    color: #ffffff;
    text-align: center;
}

.footer p {
    width: 510px;
    margin: auto;
    padding: 10px 0px 10px 0px;
    text-align: center;
}


@media screen and (min-width: 1024px) and (max-width:1025px) {

    .main .top_img .title {
        top: 44%;
    }

    .main .top_img .sub_title {
        top: 51%;
    }
}


@media screen and (min-width: 769px) {

    html, body {
        font-size: 18px;
    }

    .sp_only {
        display: none;
    }

    .header {
    }

    .top_img .title {
        width: 585px;
        top: 44%;
        font-size: 48px;
        letter-spacing: 36px;
    }
    
    .top_img .sub_title {
        width: 353px;
        top: 51%;
        font-size: 28px;
        letter-spacing: 8px;
    }

    .introduce .title {
        width: 210px;
        padding-top: 100px;
    }

    .title2 {
        letter-spacing: 14px;
    }

    .work .title {
        width: 138px;
        margin-bottom: 60px;
        padding-top: 100px;
        letter-spacing: 14px;
    }
    
}


@media screen and (max-width: 769px) {

    .pc_only {
        display: none;
    }

    .top_img {
        height: 690px;
        background-image: url("../images/top2.jpg");
        background-repeat: no-repeat;
    }

    .work {
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width:768px) {
    .top_img .title {
        width: 465px;
        top: 44%;
        font-size: 38px;
        letter-spacing: 29px;
    }

    .top_img .sub_title {
        width: 225px;
        top: 48%;
        font-size: 24px;
        letter-spacing: 2px;
    }

    .introduce .title {
        width: 198px;
        padding-top: 70px;
    }

    .title2 {
        letter-spacing: 12px;
    }

    .prof_image {
        width: 120px;
    }

    .prof_image img {
        width: 120px;
    }

    .work .title {
        width: 138px;
        margin-bottom: 60px;
        padding-top: 70px;
        letter-spacing: 14px;
    }

    .work_cont {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 24px;
    }

    .cont {
        margin-top: 0px;
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 480px) {

    .menu {
        text-align: right;
        margin-right: 10px;
    }
    
    .menu li {
        display: inline;
        padding: 10px;
    }
    
    .top_img .title {
        top: 40%;
        width: 312px;
        font-size: 44px;
        letter-spacing: 6px;
    }

    .top_img .sub_title {
        top: 43%;
        width: 210px;
        font-size: 26px;
    }

    .introduce .title {
        width: 198px;
        padding-top: 70px;
    }

    .title2 {
        letter-spacing: 12px;
    }


    .prof_image {
        width: 100px;
    }

    .prof_image img {
        width: 100px;
    }

    .prof_sentense {
        width: 90%;
    }

    .work {
        padding-bottom: 0px;
    }

    .work .title {
        width: 138px;
        margin-bottom: 60px;
        padding-top: 70px;
        letter-spacing: 14px;
    }

    .work_cont {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 24px;
    }

    .cont {
        margin-top: 0px;
        margin-bottom: 80px;
    }

    .cont_title {
        font-size: 20px;
    }

    .cont img {
        margin-bottom: 10px;
    }

    .button {
        margin-top: 30px;
        padding: 20px 144px 20px 144px;
        display: inline-block;
        border: 1.2px solid #807B7A;
        text-decoration: none;
        font-size: 12px;
        color: #807B7A;
    }

    .scrollTop {
        bottom: 20px;
    }

    .scrollTop a {
        padding: 11px;
    }

}

@media screen and (min-width: 360px) and (max-width:411px) {
    .top_img {
        height: 690px;
        background-image: url("../images/top3.jpg");
        background-repeat: no-repeat;
    }

    .top_img .title {
        top: 34%;
    }

    .top_img .sub_title {
        top: 38%;
    }

    .button {
        margin-top: 30px;
        padding: 20px 126px 20px 126px;
        display: inline-block;
        border: 1.2px solid #807B7A;
        text-decoration: none;
        font-size: 14px;
        color: #807B7A;
    }
}

@media screen and (min-width: 320px) and (max-width:359px) {
    
    .menu {
        text-align: right;
        margin-right: 5px;
    }
    
    .menu li {
        display: inline;
        padding: 8px;
    }
    
    .top_img {
        height: 690px;
        background-image: url("../images/top3.jpg");
        background-repeat: no-repeat;
    }

    .top_img .title {
        top: 28%;
        width: 292px;
        letter-spacing: 3px;
    }

    .top_img .sub_title {
        top: 31%;
    }

    .cont_title {
        font-size: 18px;
    }

    .button {
        margin-top: 30px;
        padding: 20px 106px 20px 106px;
        display: inline-block;
        border: 1.2px solid #807B7A;
        text-decoration: none;
        font-size: 14px;
        color: #807B7A;
    }
}

